:root {
  --primary-color: #263f61;
  --secondary-color: #ff7d65;
  --background-color: #0c111b;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-primary: #263238;
  --text-secondary: #546e7a;
}
